.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 2rem;

  span {
    font-size: 2rem;
  }
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 80vh;
}

.container {
  background-color:lightcyan;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  min-height: 90vh;
  height: fit-content;
}

.bookReviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer {
  width: 100vw;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}