.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  h1 {
    justify-self: baseline;
    font-size: 2rem;
    text-align: center;
  }
}

.buttonRoot {
  border: 1px solid grey;
  border-radius: 5px;
}